@charset "utf-8";
@import url("../webfonts/NunitoSans_Black/stylesheet.css");
@import url("../webfonts/NunitoSans_SemiBold/stylesheet.css");
@import url("../webfonts/NunitoSans_Regular/stylesheet.css");
/* CSS Document */


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

a{
	color: #FFFFFF;
	 text-decoration: none;
}

/*	HEADER */

#Oferta_educativa_enlaces {
	position: absolute;
	width: 1920px;
	height: 4229px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;

}
#FONDO {
	opacity: 0.13;
	position: absolute;
	width: 1920px;
	height: 2210px;
	left: 0px;
	top: 300px;
	overflow: visible;
}
#Encabezado {
	position: absolute;
	width: 1920px;
	height: 357px;
	left: 0px;
	top: -57px;
	overflow: visible;
}
#Rectngulo_1 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectngulo_1 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1938px;
	height: 318px;
	left: 0px;
	top: 57px;
}
#Trazado_2 {
	fill: rgba(3,47,71,1);
}
.Trazado_2 {
	overflow: visible;
	position: absolute;
	width: 239.128px;
	height: 47.006px;
	left: 75.825px;
	top: 287px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_3 {
	fill: rgba(3,47,71,1);
}
.Trazado_3 {
	overflow: visible;
	position: absolute;
	width: 239.128px;
	height: 47.006px;
	left: 330.728px;
	top: 287px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_4 {
	fill: rgba(3,47,71,1);
}
.Trazado_4 {
	overflow: visible;
	position: absolute;
	width: 239.128px;
	height: 47.006px;
	left: 585.673px;
	top: 287px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_5 {
	fill: rgba(3,47,71,1);
}
.Trazado_5 {
	overflow: visible;
	position: absolute;
	width: 239.128px;
	height: 47.006px;
	left: 840.469px;
	top: 287px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_6 {
	fill: rgba(3,47,71,1);
}
.Trazado_6 {
	overflow: visible;
	position: absolute;
	width: 239.128px;
	height: 47.006px;
	left: 1095.36px;
	top: 287px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_7 {
	fill: rgba(3,47,71,1);
}
.Trazado_7 {
	overflow: visible;
	position: absolute;
	width: 239.128px;
	height: 47.006px;
	left: 1350.155px;
	top: 287px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_19 {
	fill: rgba(3,47,71,1);
}
.Trazado_19 {
	overflow: visible;
	position: absolute;
	width: 239.128px;
	height: 47.006px;
	left: 1605.047px;
	top: 287px;
	transform: matrix(1,0,0,1,0,0);
}
#Inicio {
    left: 165.203px;
    top: 293.356px;
    position: absolute;
    overflow: visible;
    width: 61px;
    white-space: nowrap;
    text-align: center;
    font-family: "NunitoSans Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(255,255,255,1);
}
#Quienes_Somos {
	left: 357.67px;
	top: 294.407px;
	position: absolute;
	overflow: visible;
	width: 181px;
	white-space: nowrap;
	text-align: center;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Oferta_Educativa {
	left: 608.156px;
	top: 294.814px;
	position: absolute;
	overflow: visible;
	width: 191px;
	white-space: nowrap;
	text-align: center;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Comunidad {
	left: 893.31px;
	top: 294.814px;
	position: absolute;
	overflow: visible;
	width: 131px;
	white-space: nowrap;
	text-align: center;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Admisin {
	left: 1158.973px;
	top: 294.814px;
	position: absolute;
	overflow: visible;
	width: 109px;
	white-space: nowrap;
	text-align: center;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Pago_en_lnea {
	left: 1391.484px;
	top: 294.814px;
	position: absolute;
	overflow: visible;
	width: 155px;
	white-space: nowrap;
	text-align: center;
	font-family:"NunitoSans Regular";
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#Contacto {
	left: 1672.598px;
	top: 294.814px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	text-align: center;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: rgba(255,255,255,1);
}
#logo_color {
	position: absolute;
	width: 242px;
	height: 314px;
	left: 839px;
	top: 0px;
	overflow: visible;
}
#Rectngulo_38 {
	fill: rgba(12,124,89,1);
}
.Rectngulo_38 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1618px;
	height: 106px;
	left: 160px;
	top: 369px;
}
#CURSOS_INTENSIVOS {
    left: 691px;
    top: 378.5px;
    position: absolute;
    overflow: visible;
    width: 539px;
    white-space: nowrap;
    text-align: center;
    font-family: "NunitoSans Black";
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(255,255,255,1);
    text-transform: uppercase;
}
#CURSOS_ESPECIALES {
    transform: matrix(1,0,0,1,184.75,1310.5) rotate(-90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 474.5px;
    height: 179px;
    text-align: right;
    font-family: "NunitoSans Black";
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(12,124,89,1);
    text-transform: uppercase;
}
#CURSOS_MAKERSPACE {
    transform: matrix(1,0,0,1,163.25,3153.75) rotate(-90deg);
    transform-origin: center;
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 515.5px;
    height: 179px;
    text-align: right;
    font-family: "NunitoSans Black";
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    color: rgba(12,124,89,1);
    text-transform: uppercase;
}
#n_3 {
	opacity: 0.6;
	position: absolute;
	width: 554px;
	height: 554px;
	left: 160px;
	top: 517px;
	overflow: visible;
}
#Canto {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 1552.881px;
	top: 745px;
	position: absolute;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 29px;
	margin-top: -4.5px;
	text-align: center;
	font-family: Nunito Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	color: rgba(255,255,255,1);
}
#Music_Makerl {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    left: 286px;
    top: 899px;
    position: absolute;
    overflow: visible;
    width: 307px;
    white-space: nowrap;
    line-height: 57px;
    margin-top: -3.5px;
    text-align: center;
    font-family: "NunitoSans Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: rgba(255,255,255,1);
}
#Mm {
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
    left: 228px;
    top: 630px;
    position: absolute;
    overflow: visible;
    width: 420px;
    height: 273px;
    text-align: center;
    font-family: "NunitoSans Black";
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    color: rgba(255,255,255,1);
}
#Con_nuestros_cursos_Musicmaker {
    left: 822px;
    top: 591px;
    position: absolute;
    overflow: visible;
    width: 815px;
    height: 407px;
    text-align: left;
    font-family: "NunitoSans Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(71,71,71,1);
}
#Construye_tu_guitarra_o_bajo_e {
    left: 500px;
    top: 1163px;
    position: absolute;
    overflow: visible;
    width: 917px;
    height: 1679px;
    text-align: left;
    font-family: "NunitoSans Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(71,71,71,1);
}
#Los_estudiantes_tendrn_un_prim {
    left: 502px;
    top: 2986px;
    position: absolute;
    overflow: visible;
    width: 917px;
    height: 756px;
    text-align: left;
    font-family: "NunitoSans Regular";
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(71,71,71,1);
}
#Rectngulo_59 {
	fill: rgba(12,124,89,1);
}
.Rectngulo_59 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 302px;
	height: 78px;
	left: 504px;
	top: 3742px;
}
#Rectngulo_60 {
	fill: rgba(12,124,89,1);
}
.Rectngulo_60 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 302px;
	height: 78px;
	left: 818px;
	top: 3742px;
}
#Rectngulo_62 {
	fill: rgba(12,124,89,1);
}
.Rectngulo_62 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 302px;
	height: 78px;
	left: 1132px;
	top: 3742px;
}
#Rectngulo_61 {
	fill: rgba(12,124,89,1);
}
.Rectngulo_61 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 459px;
	height: 78px;
	left: 740px;
	top: 3831px;
}
#PLANES_DE_ESTUDIO {
    left: 530px;
    top: 3758px;
    position: absolute;
    overflow: visible;
    width: 233px;
    white-space: nowrap;
    text-align: center;
    font-family: "NunitoSans SemiBold";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(255,255,255,1);
}
#APLICAR_AHORA {
    left: 865px;
    top: 3758px;
    position: absolute;
    overflow: visible;
    width: 191px;
    white-space: nowrap;
    text-align: center;
    font-family: "NunitoSans SemiBold";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(255,255,255,1);
}
#INFORMES_WHATSAPP {
    left: 1147px;
    top: 3758px;
    position: absolute;
    overflow: visible;
    width: 255px;
    white-space: nowrap;
    text-align: center;
    font-family: "NunitoSans SemiBold";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(255,255,255,1);
}
#RESERVAR_CLASE_GRATIS {
    left: 818px;
    top: 3847px;
    position: absolute;
    overflow: visible;
    width: 287px;
    white-space: nowrap;
    text-align: center;
    font-family: "NunitoSans SemiBold";
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    color: rgba(255,255,255,1);
}
#n_01 {
	position: absolute;
	width: 441px;
	height: 441px;
	left: 1446px;
	top: 1163px;
	overflow: visible;
}
#n_02 {
	position: absolute;
	width: 441px;
	height: 441px;
	left: 1446px;
	top: 1647px;
	overflow: visible;
}
#n_03 {
	position: absolute;
	width: 441px;
	height: 441px;
	left: 1446px;
	top: 2131px;
	overflow: visible;
}
#n_01_bq {
	position: absolute;
	width: 441px;
	height: 441px;
	left: 1446px;
	top: 2615px;
	overflow: visible;
}
#n_02_br {
	position: absolute;
	width: 441px;
	height: 441px;
	left: 1446px;
	top: 3099px;
	overflow: visible;
}
#Rectngulo_18 {
	fill: rgba(3,47,71,1);
}
.Rectngulo_18 {
	position: absolute;
	overflow: visible;
	width: 1920px;
	height: 280px;
	left: 0px;
	top: 3949px;
}
#logo_blanco {
	position: absolute;
	width: 116px;
	height: 150px;
	left: 1508px;
	top: 3939px;
	overflow: visible;
}
#CONTACTO {
	left: 157px;
	top: 3983px;
	position: absolute;
	overflow: visible;
	width: 145px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -3px;
	text-align: left;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}
#SGUENOS {
	left: 631px;
	top: 3983px;
	position: absolute;
	overflow: visible;
	width: 136px;
	white-space: nowrap;
	line-height: 31px;
	margin-top: -3px;
	text-align: left;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	color: rgba(255,255,255,1);
	letter-spacing: 0.5px;
}
#Academia_de_Estudios_Musicales {
	left: 222px;
	top: 4039px;
	position: absolute;
	overflow: visible;
	width: 288px;
	white-space: nowrap;
	text-align: left;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Estudios_con_reconocimiento_in {
	left: 1364px;
	top: 4075px;
	position: absolute;
	overflow: visible;
	width: 405px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -2.5px;
	text-align: center;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: lighter;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#telefonos {
	left: 222px;
	top: 4161px;
	position: absolute;
	overflow: visible;
	width: 103px;
	white-space: nowrap;
	line-height: 25px;
	margin-top: -5px;
	text-align: left;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#llamada_blanco {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 179px;
	top: 4165px;
	overflow: visible;
}
#mapa_blanco {
	position: absolute;
	width: 31px;
	height: 31px;
	left: 179px;
	top: 4043px;
	overflow: visible;
}
#n_G_Martell_2022__Creative_Stu {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 843px;
	top: 4194px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	text-align: center;
	font-family: Nunito Sans;
	font-style: italic;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Grupo_1 {
	position: absolute;
	width: 31.152px;
	height: 31.198px;
	left: 757.666px;
	top: 4049.092px;
	overflow: visible;
}
#Trazado_10 {
	fill: rgba(255,255,255,1);
}
.Trazado_10 {
	overflow: visible;
	position: absolute;
	width: 31.152px;
	height: 31.198px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_11 {
	fill: rgba(255,255,255,1);
}
.Trazado_11 {
	overflow: visible;
	position: absolute;
	width: 16.038px;
	height: 16.034px;
	left: 7.571px;
	top: 7.58px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_12 {
	fill: rgba(255,255,255,1);
}
.Trazado_12 {
	overflow: visible;
	position: absolute;
	width: 3.735px;
	height: 3.735px;
	left: 22.059px;
	top: 5.394px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_13 {
	fill: rgba(255,255,255,1);
}
.Trazado_13 {
	overflow: visible;
	position: absolute;
	width: 15.316px;
	height: 29.556px;
	left: 650.391px;
	top: 4049.913px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_14 {
	fill: rgba(255,255,255,1);
}
.Trazado_14 {
	overflow: visible;
	position: absolute;
	width: 28.546px;
	height: 28.548px;
	left: 876.691px;
	top: 4050.417px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_15 {
	fill: rgba(255,255,255,1);
}
.Trazado_15 {
	overflow: visible;
	position: absolute;
	width: 29.819px;
	height: 24.463px;
	left: 701.889px;
	top: 4052.458px;
	transform: matrix(1,0,0,1,0,0);
}
#Trazado_18 {
	fill: rgba(255,255,255,1);
}
.Trazado_18 {
	overflow: visible;
	position: absolute;
	width: 31.936px;
	height: 22.414px;
	left: 816.996px;
	top: 4053.483px;
	transform: matrix(1,0,0,1,0,0);
}
#Estos_estudios_no_requieren_va {
	left: 1361px;
	top: 4165px;
	position: absolute;
	overflow: visible;
	width: 410px;
	height: 20px;
	line-height: 20px;
	margin-top: -2.5px;
	text-align: center;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	color: rgba(255,255,255,1);
}
#Aviso_de_Privacidad {
	left: 1058px;
	top: 4035.142px;
	position: absolute;
	overflow: visible;
	width: 132.653px;
	height: 32.31734848022461px;
	text-align: left;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
	
}
#Informes {
	left: 1058px;
	top: 4058.743px;
	position: absolute;
	overflow: visible;
	width: 59.925px;
	height: 32.31734848022461px;
	text-align: left;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
	
}
#Inicio_cx {
	left: 1058px;
	top: 4082.341px;
	position: absolute;
	overflow: visible;
	width: 40.65px;
	height: 32.31734848022461px;
	text-align: left;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
	
}
#Quienes_Somos_aa {
	left: 1058px;
	top: 4105.94px;
	position: absolute;
	overflow: visible;
	width: 124.413px;
	height: 32.31734848022461px;
	text-align: left;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
	
}
#Oferta_educativa {
	left: 1058px;
	top: 4129.541px;
	position: absolute;
	overflow: visible;
	width: 129.542px;
	height: 32.31734848022461px;
	text-align: left;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
	
}
#Alumnos {
	left: 1219.245px;
	top: 4035.378px;
	position: absolute;
	overflow: visible;
	width: 88.407px;
	height: 32.31734848022461px;
	text-align: left;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
	
}
#Pago_en_lnea_aa {
	left: 1219.245px;
	top: 4058.978px;
	position: absolute;
	overflow: visible;
	width: 109.407px;
	height: 32.31734848022461px;
	text-align: left;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);

}
#Contacto_aa {
	left: 1219.245px;
	top: 4082.579px;
	position: absolute;
	overflow: visible;
	width: 62.816px;
	height: 32.31734848022461px;
	text-align: left;
	font-family: "NunitoSans Regular";
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	color: rgba(255,255,255,1);
	
}